{% extends 'dj8_app/dj8_app_base.html' %}
{% block content %}
<div class="jumbotron">
  <h1>Welcome to school detail page</h1>
  <h2>School detail</h2>
  <p>Name:{{ school_detail.name }}</p>
  <p>Principal:{{ school_detail.principal }}</p>
  <p>Location:{{ school_detail.location }}</p>

  <h3>Students:</h3>
  {% for students in school_detail.students.all %}
  <p>{{ students.name }} who is {{ students.age }} years old.</p>
  {% endfor %}
</div>
<div class="container">
  <p><a class="btn btn-primary" href="{% url 'dj8_app:update' pk=school_detail.pk %}">Update</a></p>
  <p>Want to delete school?</p>
  <p><a class="btn btn-warning" href="{% url 'dj8_app:delete' pk=school_detail.pk %}">Delete</a></p>
</div>
{% endblock %}
